html {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: lightblue;
}

.header {
    width: 100vw;
    height: 100px;
    background-color: lightpink;
}

.gridContainer {
    display: flex;
    justify-content: center;
}

.buttons {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.buttons > * {
    height: 25px;
    width: 50px;
}

.startButton {
    height: 100px;
    width: 150px;
    font-size: 25px;
}

 /* Grids  */
.startGrid {
    width: 500px;
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    border: 2px solid black;
}

.startGrid > * {
    border: 1px solid gray;
}

.shipGrid {
    width: 250px;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: repeat(5, 50px);
}

.shipGrid > * {
    border: 1px solid lightgreen;
}

.gridBoard1, .gridBoard2 {
    width: 500px;
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    border: 2px solid black;
}

.gridBoard1 {
    transform: scale(0.8);
    transition: all 1s ease;
    opacity: 0.8;
}

.gridBoard1 > * {
    border: 1px solid gray;
}

.gridBoard2 > * {
    border: 1px solid gray;
}

.hide {
    display: none !important;
}

.show {
    visibility: visible;
}

.drag-over {
    border: dashed 3px black;
}

/* ships */

.fleetContainer {
    width: 500px;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dragAbleFleets {
    width: 300px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
}

.ships {
    display: flex;
    width: min-content;
    height: min-content;
    cursor: grab;
    transition: 0.5s ease;
}

.ships:hover {
    transform: scale(1.1);
}

.vertical {
    flex-direction: column;
}

.carrier, .battleship, .submarine, .destroyer, .patrol-boat {
    height: 48px;
    width: 48px;
}

.carrier {
    border: 1px solid rgb(74, 74, 250);
    background-color: blue;
}

.battleship {
    border: 1px solid rgb(253, 74, 74);
    background-color: red;
}


.submarine {
    border: 1px solid rgb(1, 167, 1);
    background-color: green;
}


.destroyer {
    border: 1px solid rgb(255, 255, 225);
    background-color: yellow;
}

.patrol-boat {
    border: 1px solid rgb(252, 188, 74);
    background-color: orange;
}